1° PASO: Importamos módulos de apache spark

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *

2° PASO: Creamos las session de apache spark en una variable

In [12]:
spark = SparkSession.builder.master("local[*]").getOrCreate()

3° PASO: Verificamos la versión de apache spark

In [13]:

spark

4° PASO: Crear la estructura del dataframe

In [14]:
df_schema = StructType([
StructField("ID", StringType(),True),
StructField("NOMBRE", StringType(),True),
StructField("TELEFONO", StringType(),True),
StructField("CORREO", StringType(),True),
StructField("FECHA_INGRESO", StringType(),True),
StructField("EDAD", IntegerType(),True),
StructField("SALARIO", DoubleType(),True),
StructField("ID_EMPRESA", StringType(),True),
])

5° Definimos ruta del archivo

In [15]:
#Archivo almacenado en hdfs
#ruta_lectura = "hdfs:/datalake/workload/persona.data"

#Archivo almacenado en storga - gcp
ruta_lectura = "gs://course-bigdata-dev/datalake/workload/persona.data"

6° Creamos el dataframe de Persona

In [16]:
df_with_schema = spark.read.format("CSV").option("header","true").option("delimiter","|").schema(df_schema).load(ruta_lectura)

In [17]:
df_with_schema.show()

+---+---------+--------------+--------------------+-------------+----+-------+----------+
| ID|   NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|   2019-02-17|  34| 9298.0|         2|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|   2002-08-01|  27|10853.0|         3|
|  4|    Aidan|1-719-862-9385|euismod.et.commod...|   2018-11-06|  29| 3387.0|        10|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|   2002-10-10|  41|22102.0|         1|
|  6|     Bert|      797-4453|a.felis.ullamcorp...|   2017-04-25|  70| 7800.0|         7|
|  7|     Mark|1-680-102-6792|Quisque.ac@placer...|   2006-04-21|  52| 8112.0|         5|
|  8|    Jonah|      214-2975|eu.ultrices.sit@v...|   2017-10-07|  23|17040.0|         5|
|  9|    Hanae|      935-2277|          eu@Nunc.ca|   2003-05-25|  69| 6834.0|         3|
| 10|   Cadman|1-866-561-2701|orci.adipiscing.n...|   2001-05-19|  19| 7996.0|         7|
| 11|  Melyssa|      596-7736|vel@vulputateposu...|   2008-10-14|  48| 4913.0|         8|
| 12|   Tanner|1-739-776-7897|arcu.Aliquam.ultr...|   2011-05-10|  24|19943.0|         8|
| 13|   Trevor|      512-1955|Nunc.quis.arcu@eg...|   2010-08-06|  34| 9501.0|         5|
| 14|    Allen|      733-2795|felis.Donec@necle...|   2005-03-07|  59|16289.0|         2|
| 15|    Wanda|      359-6973|Nam.nulla.magna@I...|   2005-08-21|  27| 1539.0|         5|
| 16|    Alden|      341-8522|odio@morbitristiq...|   2006-12-05|  26| 3377.0|         2|
| 17|     Omar|      720-1543|Phasellus.vitae.m...|   2014-06-24|  60| 6851.0|         6|
| 18|     Owen|1-167-335-7541|     sociis@erat.com|   2002-04-09|  34| 4759.0|         7|
| 19|    Laura|1-974-623-2057|    mollis@ornare.ca|   2017-03-09|  70|17403.0|         4|
| 20|    Emery|1-672-840-0264|     at.nisi@vel.org|   2004-02-27|  24|18752.0|         9|
| 21|  Carissa|1-300-877-0859|dignissim.pharetr...|   2011-10-16|  31| 1952.0|        10|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
only showing top 20 rows

8° Definimos la ruta en hdfs donde almacenaremos el archiv

In [18]:
ruta_destino = "gs://course-bigdata-dev/datalake/landing/personas/"

9° Guardamos el archivo en formato parquet

In [19]:
df_with_schema.repartition(1).write.mode("overwrite").format("parquet").save(ruta_destino)

-----------------------------------------------------------------------------------------
Cargando Empresas

In [40]:

df_schema_empresa = StructType([
StructField("ID", StringType(),True),
StructField("NOMBRE_EMPRESA", StringType(),True)
])

In [41]:
ruta_empresa = "gs://course-bigdata-dev/datalake/workload/empresa.data"

In [42]:
df_with_schema_empresa = spark.read.format("CSV").option("header","true").option("delimiter","|").schema(df_schema_empresa).load(ruta_empresa)

In [43]:
df_with_schema_empresa.show()

+---+--------------+
| ID|NOMBRE_EMPRESA|
+---+--------------+
|  2|     Microsoft|
|  3|         Apple|
|  4|        Toyota|
|  5|        Amazon|
|  6|        Google|
|  7|       Samsung|
|  8|            HP|
|  9|           IBM|
| 10|          Sony|
+---+--------------+

In [44]:
ruta_destino_empresas = "gs://course-bigdata-dev/datalake/landing/empresas/"

df_with_schema_empresa.repartition(1).write.mode("overwrite").format("parquet").save(ruta_destino_empresas)